{# <plugin root>/src/Resources/app/administration/src/module/swag-example/page/swag-example-detail/swag-example-detail.html.twig #}
<template>
    <div>
        <h1>Example Detail Page</h1>
    </div>
</template>
