{# <plugin root>/src/Resources/app/administration/src/module/swag-example/page/swag-example-create/swag-example-create.html.twig #}
<template>
    <div>
        <h1>Example Create Page</h1>
    </div>
</template>
